@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /*
  background-image: url(./assets/bg-Mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
  background: url(./assets/bg-Mobile.jpg) no-repeat top center/cover;
}

body *{
 font-family: 'Inter',sans-serif;
 color: #fff;
}

.container {
  width: 360px;
  height: 712px;
  border: 1px solid red;
  margin: auto;

  padding-top: 56px;
}

.profile{
  text-align: center;
}

.profile img {
  width: 112px;
}

.profile p{
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
}



